html, body {
  margin: 0;
  padding: 0;
    font-family: "feltro-normal", sans-serif;
}
canvas {
  display: block;
    position: fixed;
    top:0;
    left:0;
    z-index:-1;
}

h1{
    color: coral;
    font-size: 40px;
    position: fixed;
    top:10vh;
    left:80vh;
    z-index:2;
}
a{
    position: fixed;
    bottom:10px;
    left:90vh;
}