body {
    font-family: 'quake-std', sans-serif;
    background-color: black;
    color: white;
    font-size: 30px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

img {
    width: 400px;
    margin: 10px;
}

.flex-container{
   display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;

}
