* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: darkviolet;
    background-image: url("../imgs/wc.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lexend Deca', sans-serif;
    color: black;
    font-size: 80px;

}
p{
    position: absolute;
    top:110px;
    
}


.rosa {
    width: 500px;
    position: absolute;
    z-index: 1;
    top: 50vh;
    font-size: 150px;
    animation-name: rosa;
    animation-direction: alternate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    line-height: 120px;
    color: darkred;
}

.box {
  height: 300px;
  width: 3000px;
  background-color: greenyellow;
    position: relative;
   top: 10vh;
    animation-name: box;
    animation-direction: alternate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}



@keyframes rosa {
    0% {
        transform: translateX(-300vh);
    }

    100% {
        transform: translateX(0vh);
    }
}

@keyframes box {
    0% {
        transform: translateX(-300vh);
    }

    100% {
        transform: translateX(0vh);
    }
}



a {
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    font-size: 30px;
    text-shadow: none;
}


.home {
    position: fixed;
    left: 10px;
    bottom: 10px;
}

.next {
    position: fixed;
    right: 10px;
    bottom: 10px;
}
