* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../imgs/pool.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    font-family: 'Lexend Deca', sans-serif;
    color: darkorange;
    font-size: 80px;
    text-shadow: 0px 0px 8px black;
    
}

img {
    opacity: 0;
}

.capybara{
     width: 300px;
    margin: -50px;
    margin-bottom: -300px;
    margin-left: 600px;
}

img:hover{
    opacity: 1;
    transition-duration: 2s;
}

.o-one{
    width:80px;
    display: block;
    position: fixed;
    top:900px;
    left:180px;
}

.o-two{
    width:80px;
    top:560px;
    left:360px;
    display: block;
    position: fixed;
}

.o-three{
    width:80px;
    top:600px;
    left:720px;
    display: block;
    position: fixed;
}

.o-four{
    width:80px;
    top:1000px;
    left:380px;
    display: block;
    position: fixed;
}

.o-five{
    width:80px;
    top:1000px;
    left:920px;
    display: block;
    position: fixed;
}

.o-six{
    width:80px;
    top:980px;
    left:2000px;
    display: block;
    position: fixed;
}
.o-seven{
    width:80px;
    top:800px;
    left:1800px;
    display: block;
    position: fixed;
}
.o-eight{
    width:80px;
    top:1090px;
    left:1730px;
    display: block;
    position: fixed;
}
.o-nine{
    width:80px;
    top:800px;
    left:820px;
    display: block;
    position: fixed;
}

p{
    position: fixed;
    top:40px;
}

a {
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    font-size: 30px;
    text-shadow:none;
}

.text {
    width: 800px;
    text-align: center;
    position: fixed;
    top: 200px;
    text-shadow: 3px 3px 1px black;
}


.home {
    position: fixed;
    left: 10px;
    bottom: 10px;
}

.next {
    position: fixed;
    right: 10px;
    bottom: 10px;
}
