* {
    padding: 0px;
    margin: 0px;
}

body {
      height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  background-image: url("../imgs/scroll.gif");
    background-repeat: repeat-x;
    background-size: 30%;
    font-family:  'Red Hat Display', sans-serif;
        
}

img{
    width: 400px;
    margin: -50px;
    margin-bottom: -270px;
    
}
a{
    font-family: 'Red Hat Display', sans-serif;
    color: limegreen;
    font-size: 30px;
}


p {
    font-size: 50px;
    color: black;
font-family: 'Press Start 2P', cursive;
}

.zoom {
    animation-name: zoom;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}


@keyframes zoom {
    0% {
       margin-left: -2000px;
    }
    100%{
        color: red;
        margin-left: 4000px;
    }
}
.home{
    position: fixed;
    left: 10px;
    bottom: 10px;
}
.next{
    position: fixed;
    right: 10px;
    bottom: 10px;
}