body {
    background-color: black;
    text-align: left;
    font-family: 'Hepta Slab', serif;
    font-size: 20px;
    color: white;
}

h1 {
    text-align: right;
    font-family: 'Bungee', cursive;
    font-size: 25px;
    letter-spacing: 2px;
}

span {
    border-color: white;
    border-width: thin;
    border-style: solid;
    padding: 5px;
    font-family: 'almaq-refined', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 100;
}

p {
    text-align: left;

    font-family: 'caecilia', sans-serif;

    font-weight: 300;

    font-style: normal;
    font-size: 90px;
    margin: 0px;
    letter-spacing: 12px;
    margin-left: 25px;

}

a{
    font-size: 18px;
    letter-spacing: 0px;
}

a:visited{
    color: white;
}

.main {
    margin: 25px;
    font-size: 40px;
}

.sub {
    font-family: 'Poly', serif;
    font-size: 14px;
    margin: 25px;

}

.flex-container {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;

}

div {
    margin: 10px;
}
