html{
    box-sizing: border-box;
}


body {
    background-color: lightgray;
 
}

#image{
    width:500px;
    display:block;
}

/*COMPLETE THE CSS BELOW*/

/*Hint: only add one property to .container*/
.container{
    display: inline-block;
    margin: -2px

}

.green{
    background-color: darkseagreen;
    width: 125px;
    height:24px;
    
}

.blue{
    background-color: midnightblue;
    width: 125px;
    height:24px;
}

.pink{
    background-color: coral;
    width: 126px;
    height:24px;
}

.orange{   
    background-color: orangered;
    width: 126px;
    height:24px;
}

.yellow{
    background-color: goldenrod;
    width: 126px;
    height:24px;
}

.red{
    background-color: darkred;
    width: 126px;
    height:24px;
}

.lightorange{
    background-color: orange;
    width: 126px;
    height:24px;
}
.otherblue{
    background-color: darkblue;
    width: 126px;
    height:24px;
}

